.season-list {
  margin: 0 auto;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.season-row{
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
}